img{
    padding: 6px;
    background: gray;
    margin: 5px 0px;

}
#myButton{
    background: gray;
    margin: 15px 0px;
    padding: 10px;
    border: none; 
}

#box{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

