<div *ngIf="hero">
  <div id="box">
      <div>
          <h2>{{hero.name | uppercase}} Details:</h2>
          <div id="id-detail"><span>id: </span>{{hero.id}}</div>
          <div id="name-detail"><span>name: </span>{{hero.name}}</div>
          <img src="{{hero.avatar}}" alt="{{hero.name}}">
          
        </div>
        <div>
          <div id="commentArea">
            <h4>comments this character</h4>
            <textarea [(ngModel)]="hero.text" name="myText" id="" cols="30" rows="10" placeholder="commets..."></textarea>
            <button id="myButton" (click)="goBack()">go back</button>
          </div>
        
          </div>
  </div>
  
  
</div>