img{
    padding: 6px;
    background: gray;
    margin: 5px 0px;

}
#myButton{
    margin-top: 20px;
    text-decoration: none;
    background: gray;
    color: white;
    padding: 15px;
    font-weight: bold;
    width:100px;
}

#myButton:hover{
    background: rgb(243, 92, 66);
}

#box{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#commentArea{
    display: flex;
    flex-direction: column;
}