<div id="background">
    <div id="navbar-container">
        <div id="navbar">
          <!--<svg class="triangle" width="100px" height="100px"><path d="M0, 0 L100, 100 L0, 100 Z" /></svg>-->
          <a href="#" id="logoCompany">{{title}}</a>
          <div id="navbar-right">
            <a href="javascript:void(0)" class="navbarItem active"
              onclick="window.scroll({top: 0, behavior: 'smooth'})">Home</a>
            <a href="javascript:void(0)" class="navbarItem">Abaut</a>
            <a href="javascript:void(0)" class="navbarItem">contact</a>
          </div>
          <div id="triangle-div-main" ></div>
        </div>

      </div>
      <nav>
        <button class="navLink" routerLink="/dashboard">Dashboard</button>
        <button class="navLink" routerLink="/heroes" routerLinkActive="router-link-active">Heroes</button>
      </nav>
      <router-outlet></router-outlet>
      <app-messages></app-messages>


    <!--<svg class="triangle-navColor" width="100px" height="100px"><path d="M0, 0 L100, 100 L0, 100 Z" /></svg>-->
  <h1 id="background-title">Ejoy<br>fantastic heroes !</h1>
  <div id="triangle-box">
      <div class="triangle-div" ></div>
    
    </div>
</div>

<!--<div id="fake-content" style="padding-bottom: 2000px"></div>--> 